/*
	Zde prosím slovně popiš v několika málo větách svoje uvažování.
	Proč a jak navrhuješ řešit dané problémy?

	##Zmiňované problémy můžeme řešit několika způsoby: 
	#hlavička:
		1) posunutím breakpointu pro desktop
		2) zmenšením bočního marginu hlavičky, aby se tam lépe vešly položky menu nebo zvětšení max-width
		3) zmenšením loga a mírným zmenšením textu 
		4) zalamováním textu - vyřešení pozicování flex-boxem
	#přetékání boxů:
		1) vyvarování se definování přesné šířky, ale spíše použít max-width a min-width
		2) zúžení prvního sloupce boxu ukazující datum a místo konání
		3) posunutí breakpointu pro desktop a použít zobrazení boxů pro menší zařízení
		4) přesunutí filtru nad boxy (viz složka design-proposal)


    Pro opravu hlavičky jsem nakonec zvolila variantu 2 - tedy rozšíření hlavičky a napozicování navigace vůči logu flex-boxem. Opravu boxů jsem vyřešila variantou 2, rozšířením containeru a opravou paddingů. Pro tyto možnosti jsem se rozhodla z toho důvodu, že mi přišlo řešení rychlé a hlavně efektivní. Chtěla jsem zároveň co nejvíce ctít design kalendáře a nepouštět se do divokých předělávek.
*/

/* ↓ Sem napiš kód svého řešení ↓ */

@media (min-width: 992px) {
  .navbar .container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .kalendar .container {
    max-width: 100%;
    padding: 0 30px;
  }
  .all-events-list .collection-item {
    padding: 30px 190px 0px 250px;
  }
  .all-events-list .event-date-block {
    width: 230px;
    padding-left: 30px;
  }
}

@media (min-width: 1079px) {
  .navbar .container {
    max-width: 80%;
    display: block;
  }
}

@media (min-width: 1154px) {
  .kalendar .container {
    max-width: 80%;
    padding: 0;
  }
  .all-events-list .collection-item {
    padding: 30px 190px 0px 280px;
  }
  .all-events-list .event-date-block {
    width: 260px;
    padding-left: 50px;
  }
}

@media (min-width: 1548) {
  .all-events-list .collection-item {
    padding: 30px 170px 0px 350px;
  }
  .all-events-list .event-date-block {
    width: 320px;
  }
}
